body {
    margin: 0;
    padding: 0;
    margin-right: 10%;
    margin-left: 10%;
    background-color: black;
    color: silver;
    font-family: 'Permanent Marker', cursive;
}
h1 {
    height: 81px;
    text-align: left;
    padding-top: 20px;
    margin-top: 0px;
    margin-left: 80px;
    margin-bottom: 0px;
    font-family: 'Fredoka One', cursive;
    font-size: 90px;
    color: #FBFCFC;
}
@keyframes roteren {
    to {
        transform: rotate(-360deg);
    }
}
#wheel{
    position: relative;
    top: -144px;
    left: 131px;
    height: 51px;
    width: 51px;
    animation-name: roteren;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
nav {
    overflow: hidden;
    width: 100%;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    border-top: 2px lightgray solid;
    margin-top: 0px;
    width: 25%;
    list-style-type: none;
    float: left;
    color: lightgray;
    text-align: center;
    font-size: 30px;
}

nav ul li a {
    color: lightgray;
}

nav ul li a:hover {
    color: #FBFCFC;
    font-weight: bold;
}

a {
    text-decoration: none;
}
header {
    height: 275px;
    background-image: url('img/backgroundbanner.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
}

main {
    clear: both;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
    width: auto;
}
main a:hover{
    font-weight: bold;
}
.titel{
    font-size: 20px;
    color: white;
}
.kolom {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-bottom: 20px;
  }
img{
    height: 250px;
    width: 300px;
    border-radius: 5%;
}
footer {
    clear: both;
    background-color: black;
    text-align: center;
    margin-top: 50px;
    height: 150px;
}
#facebook{
    font-size: 30px;
    color: blue;
}
#instagram{
    font-size: 30px;
    color: purple;
}
#youtube{
    font-size: 30px;
    color: red;
}
#facebookmini{
    color: blue;
}
#instagrammini{
    color: purple;
}
#youtubemini{
    color: red;
}